@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
body {
    font-family: 'Lora', serif;
    background-image: url("../img/bg1.jpeg");
    background-size: cover;
}

h1 {
    font-family: 'Courgette', cursive;
    font-family: 'Gothic A1', sans-serif;
}

thead {
    background-color: rgb(213, 214, 143);
}

tbody {
    background-color: rgb(179, 228, 236);
}

.navbar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#nav-web {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.side-navbar {
    position: fixed;
    border: 1px;
    top: 82px;
    bottom: 0;
    left: -600px;
    width: 300px;
    background-color: rgba(37, 37, 37, 0.9);
    line-height: 40px;
    transition: 0.5s;
}
#menu-bar:checked ~ .side-navbar {
    left: 0;
}
.side-navbar ul {
    list-style-type: none;
    margin-left: -25px;
}
.side-navbar ul .btn {
    margin-left: -17px;
}
.side-navbar ul i {
    margin-right: 10px;
}

.side-navbar li:hover {
    background-color: white;
}
.side-navbar li:hover a {
    color: black;
}

.side-navbar li a {
    color: white;
    text-decoration: none;
    font-size: calc(13px + 6 * ((90vw - 280px) / 690));
}

@media (min-width: 992px) {
    .side-navbar {
        top: 84px;
    }
}
.container a {
    text-decoration: none;
}
@media (max-width: 576px) {
    .side-navbar {
        top: 0;
    }
}
@media (max-width: 1140px) {
    body {
        height: 100%;
        background-size: auto;
    }
}

.card {
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.title {
    margin-left: -10px;
}
label {
    color: #1f618d;
    font-weight: bold;
}
.form input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #1f618d;
    background-color: #ecf0f1;
    transition: 0.5s;
}
input:focus {
    border-width: 0 0 4px;
}
.btn {
    color: whitesmoke;
    font-weight: bold;
    border-radius: 20px;
    letter-spacing: 3px;
}
.btn:hover {
    background-color: rgb(228, 203, 91);
}