@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
  background-image: url('img/logg.jpg');
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
}

.card {
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(145, 144, 151, 0.56) 0px 22px 70px 4px;
}
.title {
  margin-left: -10px;
}
input:focus {
  border-width: 0 0 4px;
}
.btn {
    color: whitesmoke;
    font-weight: bold;
    border-radius: 20px;
    letter-spacing: 3px;
  }
  .btn:hover {
    background-color: rgb(228, 203, 91);
  }